myWsdl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" 
    xmlns:soap-env="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:tns="http://localhost:8888/wsConciliaciones/"
    targetNamespace="http://localhost:8888/wsConciliaciones/"
    >
	<wsdl:types>
        <xsd:schema targetNamespace="http://localhost:8888/wsConciliaciones/"/>
    </wsdl:types>
    <wsdl:message name="sumaRequest">
        <wsdl:part name="a" type="xsd:float"/>
        <wsdl:part name="b" type="xsd:float"/>
    </wsdl:message>
    <wsdl:message name="sumaResponse">
        <wsdl:part name="sumaReturn" type="xsd:float"/>
    </wsdl:message>
    <wsdl:message name="restaRequest">
        <wsdl:part name="a" type="xsd:float"/>
        <wsdl:part name="b" type="xsd:float"/>
    </wsdl:message>
    <wsdl:message name="restaResponse">
        <wsdl:part name="restaReturn" type="xsd:float"/>
    </wsdl:message>
    
    <wsdl:portType name="ConciliacionesPortType">
        <wsdl:operation name="suma">
            <wsdl:documentation>Suma dos números y devuelve el resultado</wsdl:documentation>
            <wsdl:input message="tns:sumaRequest"/>
            <wsdl:output message="tns:sumaResponse"/>
        </wsdl:operation>
        <wsdl:operation name="resta">
            <wsdl:documentation>Resta dos números y devuelve el resultado</wsdl:documentation>
            <wsdl:input message="tns:restaRequest"/>
            <wsdl:output message="tns:restaResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ConciliacionesBinding" type="tns:ConciliacionesPortType">
        <soap-env:binding xmlns="http://schemas.xmlsoap.org/wsdl/soap/" style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="suma">
            <soap-env:operation xmlns="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://localhost:8888/wsConciliaciones/Server.php?method=suma" style="rpc"/>
            <wsdl:input>
                <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="resta">
            <soap-env:operation xmlns="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://localhost:8888/wsConciliaciones/Server.php?method=resta" style="rpc"/>
            <wsdl:input>
                <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Conciliaciones">
        <wsdl:documentation>Clase CONCILIACIONES  Desarrollo Web en Entorno Servidor Ejemplo: Documentación para generación automática del documento WSDL</wsdl:documentation>
        <wsdl:port name="ConciliacionesPort" binding="tns:ConciliacionesBinding">
            <soap-env:address location="http://localhost:8888/wsConciliaciones/Server.php"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>